@model InternationalGarage2_0.Models.CheckInViewModel

@{
    ViewData["Title"] = "CheckIn";
}

<h1>CheckIn</h1>

@if(Model.ShowErrorMessage)
{
<div class="alert alert-warning">
    <strong>Error:</strong>@Model.ErrorMessage
</div>
}

<h4>Park Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Members" class="control-label"></label>
                <select asp-for="MemberID" asp-items="Model.Members"></select>
            </div>
            <div class="form-group">
                <label asp-for="Types" class="control-label"></label>
                <select asp-for="Type" asp-items="Model.Types"></select>
            </div>
            <div class="form-group">
                <label asp-for="LicenseNumber" class="control-label"></label>
                <input asp-for="LicenseNumber" class="form-control" />
                <span asp-validation-for="LicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfWheels" class="control-label"></label>
                <input asp-for="NumberOfWheels" class="form-control" />
                <span asp-validation-for="NumberOfWheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Check In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListGarage">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
