@model IEnumerable<InternationalGarage2_0.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Garage";
}
<div class="text-center">
    <h2>Welcome to the International Garage 2.5!</h2>
    <br />
    <img data-wow-delay="1.5s" class="wow flipInX" src="~/img/pskylt.png" title="International Garage 2.5"/>
    <br />
    <br />
    <h5>Please navigate using the links at the top of the page.</h5>
</div>

