/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: nowrap;
    text-align: center;
    word-break: break-all;
}

h1 {
    animation: headerAnimation 1s;
    text-shadow: 5px 5px 5px #aaaaaa;
}

    h1:hover {
        text-shadow: 5px 5px 5px grey;
    }

@keyframes headerAnimation {
    0% {
        text-shadow: -80px -80px 1px #cccccc;
    }
    25% {
        text-shadow: 800px -20px 2px #bbbbbb;
    }
    55% {
        text-shadow: 600px 40px 3px #b5b5b5;
    }
    85% {
        text-shadow: 50px 20px 4px #a5a5a5;
    }
    100% {
        text-shadow: 5px 5px 5px #aaaaaa;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
