@model InternationalGarage2_0.Models.VehicleType

@{
    ViewData["Title"] = "Edit Vehicle Type";
}

<h1>Edit Vehicle Type</h1>

<h4>Vehicle Type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-action="Index"><i class="fas fa-undo-alt"></i> Back to Vehicle Type List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
